<style>
.a{
background-color: red;
color: bisque;
width:50px;
height: 20px;
border: none;
margin-left: 10px;



}

.b{
 background-color: red;
color: bisque;
width:50px;
height: 20px;
border: none;

}


</style>


<button class=" a">test</button>
<button class="b">test2</button>
